Source: erlang-cowboy
Maintainer: Nobuhiro Iwamatsu <iwamatsu@debian.org>
Section: devel
Priority: optional
Standards-Version: 3.9.3
Homepage: https://github.com/basho/bitcask
Build-Depends: debhelper (>= 9), dpkg-dev (>= 1.16.1~), erlang-dev,
	erlang-base (>= 1:15.b.1-dfsg) | erlang-base-hipe (>= 1:15.b.1-dfsg),
	erlang-crypto, erlang-reltool, erlang-syntax-tools, erlang-tools, rebar

Package: erlang-cowboy
Architecture: any
Section: devel
Priority: optional
Depends: ${misc:Depends}, ${shlibs:Depends},
	erlang-base (>= 1:13.b.4-dfsg) | erlang-base-hipe (>= 1:13.b.4-dfsg),
	erlang-crypto, erlang-reltool, erlang-syntax-tools,
	erlang-tools, erlang-dev
Enhances: erlang
Description: Cowboy is a small, fast and modular HTTP server written in Erlang
 Cowboy is also a socket acceptor pool, able to accept connections
 for any kind of TCP protocol.
